<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Presentation Index</title>
  <meta name="author" content="Thomas Parisot">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="initial-scale=1.0">

  <link rel="stylesheet" href="{{assets}}/src/css/fonts.css">
  <link rel="stylesheet" href="{{assets}}/src/css/content.css">
  <script src="//use.typekit.net/ydq7bvz.js" async onload="Typekit.load()"></script>
</head>

<body class="home talks">

{{> header}}

<div class="container">
  <main role="main">
    {{#aggregate_by_year}}
    <section class="row">
      <div class="col-md-12">
        <h1 class="title"><small>/</small>{{this.year}}</h1>
      </div>

      <div class="content row">
        {{#eachIndex this.presentations}}
        <div class="col-md-12">
          <article>
            <h2><a href="{{permalink this.item}}">{{this.item.title}}</a></h2>

            <ul class="metadata">
              <li>
                <a href="{{this.item.event.url}}">
                  <span class="icon-location-2"></span>{{this.item.event.name}}
                </a>
              </li>
              {{#if this.item.video}}<li>
                <a href="{{this.item.video}}">
                  <span class="icon-youtube-play"></span>Watch
                </a>
              </li>{{/if}}

            </ul>

            <div class="row">
              <div class="col-md-8 content">
                  {{#markdown}} {{this.item.content}} {{/markdown}}
              </div>
            </div>
          </article>
        </div>
        {{/eachIndex}}
      </div>
    </section>
    {{/aggregate_by_year}}
  </main>
</div>

{{> footer}}
</body>
</html>
