<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Presentation Index</title>
  <meta name="author" content="Thomas Parisot">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="{{assets}}/bower_components/reveal.js/css/reveal.min.css">
  <link rel="stylesheet" href="{{assets}}/src/css/reveal.css" id="theme">
  <link rel="stylesheet" href="{{assets}}/src/css/layout.css">

  <link rel="stylesheet" href="{{assets}}/bower_components/reveal.js/lib/css/zenburn.css">
</head>

<body>

<div class="reveal">
  {{#aggregate_by_year}}
    <h2>{{this.year}}</h2>

    <ul>
    {{#each this.presentations}}
      <li><a href="{{this.filename}}">{{this.title}}</a></li>
    {{/each}}
    </ul>
  {{/aggregate_by_year}}
</div>
</body>
</html>
