<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <title>Presentation Index</title>
  <meta name="author" content="Thomas Parisot">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="{{assets}}/bower_components/css.oncletom.io/dist/fonts.min.css">
  <link rel="stylesheet" href="{{assets}}/bower_components/css.oncletom.io/dist/core.min.css">
  <link rel="stylesheet" href="{{assets}}/src/css/layout.css">
</head>

<body class="talks indexes">

{{> services}}
{{> header}}

<div class="container">
  <div class="row">
      {{#presentations page}}
        <div class="col-md-6">
          <article>
            <h2><a href="{{this.filename}}">{{this.title}}</a></h2>

            <a class="huge-cta" href="{{this.filename}}">Launch presentation</a>
          </article>
        </div>
      {{/presentations}}
  </div>
</div>
</body>
</html>
